<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.financia.system.mapper.PCountryCodeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.financia.common.PCountryCode" id="pCountryCodeMap">
        <result property="id" column="id"/>
        <result property="cn" column="cn"/>
        <result property="en" column="en"/>
        <result property="phoneCode" column="phone_code"/>
    </resultMap>


</mapper>
