<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.financia.system.mapper.MemberWithdrawOrderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.financia.exchange.MemberWithdrawOrder" id="memberWithdrawOrderMap">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="toAddress" column="to_address"/>
        <result property="fromAddress" column="from_address"/>
        <result property="chain" column="chain"/>
        <result property="money" column="money"/>
        <result property="withdrawStatus" column="withdraw_status"/>
        <result property="orderStatus" column="order_status"/>
        <result property="status" column="status"/>
        <result property="checkStatus" column="check_status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
