<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financia.business.finance.mapper.FinanceDepositMemberMapper">
    
    <resultMap type="com.financia.finance.FinanceDepositMember" id="FinanceDepositMemberResult">
        <result property="id"    column="id"    />
        <result property="memberId"    column="member_id"    />
        <result property="financeId"    column="finance_id"    />
        <result property="depositAmount"    column="deposit_amount"    />
        <result property="depositBeginTime"    column="deposit_begin_time"    />
        <result property="depositEndTime"    column="deposit_end_time"    />
        <result property="incomeAmount"    column="income_amount"    />
        <result property="active"    column="active"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="username"    column="username"    />
        <result property="financeZhName"    column="finance_zh_name"    />
    </resultMap>

    <sql id="selectFinanceDepositMemberVo">
        select id, member_id, finance_id, deposit_amount, deposit_begin_time, deposit_end_time, income_amount, active, create_time, update_time from finance_deposit_member
    </sql>

    <sql id="selectFinanceDepositMemberVo_v1">
        select fdm.id,fdm.member_id,fdm.finance_id,fdm.finance_zh_name,
        fdm.deposit_amount,fdm.deposit_close_day,fdm.deposit_begin_time,
        fdm.deposit_end_time,fdm.everyday_rate,fdm.income_amount,
        fdm.estimate_income_amount,fdm.profit_customer,
        fdm.settle_accounts_status,fdm.active,fdm.create_time,
        fdm.update_time,ftp.finance_zh_name,m.username
        from finance_deposit_member fdm
        left join finance_trading_project ftp on fdm.finance_id=ftp.finance_id
        left join member m on m.id=fdm.member_id

    </sql>

    <select id="selectFinanceDepositMemberList" parameterType="com.financia.finance.FinanceDepositMember" resultMap="FinanceDepositMemberResult">
        <include refid="selectFinanceDepositMemberVo_v1"/>
        <where>  
            <if test="memberId != null  and memberId != ''"> and fdm.member_id = #{memberId}</if>
            <if test="financeId != null  and financeId != ''"> and fdm.finance_id = #{financeId}</if>
            <if test="depositBeginTime != null "> and fdm.deposit_begin_time = #{depositBeginTime}</if>
            <if test="depositEndTime != null "> and fdm.deposit_end_time = #{depositEndTime}</if>
            <if test="active != null "> and fdm.active = #{active}</if>
            <if test="username != null "> and m.username = #{username}</if>
            <if test="financeZhName != null "> and ftp.finance_zh_name = #{financeZhName}</if>


        </where>
        order by fdm.create_time desc
    </select>
    
    <select id="selectFinanceDepositMemberById" parameterType="com.financia.finance.FinanceDepositMember" resultMap="FinanceDepositMemberResult">
        <include refid="selectFinanceDepositMemberVo_v1"/>
        <where>
            <if test="id != null  and id != ''"> and fdm.id = #{id}</if>
            <if test="memberId != null  and memberId != ''"> and fdm.member_id = #{memberId}</if>
            <if test="financeId != null  and financeId != ''"> and fdm.finance_id = #{financeId}</if>
            <if test="depositBeginTime != null "> and fdm.deposit_begin_time = #{depositBeginTime}</if>
            <if test="depositEndTime != null "> and fdm.deposit_end_time = #{depositEndTime}</if>
            <if test="active != null "> and fdm.active = #{active}</if>
        </where>
    </select>
        
    <insert id="insertFinanceDepositMember" parameterType="com.financia.finance.FinanceDepositMember">
        insert into finance_deposit_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="financeId != null">finance_id,</if>
            <if test="depositAmount != null">deposit_amount,</if>
            <if test="depositBeginTime != null">deposit_begin_time,</if>
            <if test="depositEndTime != null">deposit_end_time,</if>
            <if test="incomeAmount != null">income_amount,</if>
            <if test="active != null">active,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="financeId != null">#{financeId},</if>
            <if test="depositAmount != null">#{depositAmount},</if>
            <if test="depositBeginTime != null">#{depositBeginTime},</if>
            <if test="depositEndTime != null">#{depositEndTime},</if>
            <if test="incomeAmount != null">#{incomeAmount},</if>
            <if test="active != null">#{active},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinanceDepositMember" parameterType="com.financia.finance.FinanceDepositMember">
        update finance_deposit_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="financeId != null">finance_id = #{financeId},</if>
            <if test="depositAmount != null">deposit_amount = #{depositAmount},</if>
            <if test="depositBeginTime != null">deposit_begin_time = #{depositBeginTime},</if>
            <if test="depositEndTime != null">deposit_end_time = #{depositEndTime},</if>
            <if test="incomeAmount != null">income_amount = #{incomeAmount},</if>
            <if test="active != null">active = #{active},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinanceDepositMemberById" parameterType="Long">
        delete from finance_deposit_member where id = #{id}
    </delete>

    <delete id="deleteFinanceDepositMemberByIds" parameterType="String">
        delete from finance_deposit_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>