下载redis 
https://download.redis.io/releases/

https://blog.csdn.net/miss1181248983/article/details/90056960?spm=1001.2101.3001.6661.1&utm_medium=distribute.pc_relevant_t0.none-task-blog-2%7Edefault%7EBlogCommendFromBaidu%7ERate-1-90056960-blog-124599828.pc_relevant_vip_default&depth_1-utm_source=distribute.pc_relevant_t0.none-task-blog-2%7Edefault%7EBlogCommendFromBaidu%7ERate-1-90056960-blog-124599828.pc_relevant_vip_default&utm_relevant_index=1
1.安装redis
wget http://download.redis.io/releases/redis-5.0.4.tar.gz
tar zxf redis-5.0.4.tar.gz && mv redis-5.0.4/ /usr/local/redis
cd /usr/local/redis && make && make install


1.Redis节点 node1
node1
port 7001  7002
daemonize yes
pidfile "/var/run/redis_7001.pid"
logfile "/usr/local/redis/redis_7001/redis_7001.log"
dir "/usr/local/redis/redis_7001"
#replicaof 192.168.30.129 6379
masterauth chuanzhangredis
requirepass chuanzhangredis
appendonly yes
cluster-enabled yes
cluster-config-file nodes_7001.conf
cluster-node-timeout 15000

mkdir /usr/local/redis/redis_7001
mkdir /usr/local/redis/redis_7002
cd /usr/local/redis/
./redis-server /usr/local/redis/cluster/redis-7001.conf
./redis-server /usr/local/redis/cluster/redis-7002.conf

2.Redis节点 node2
port 7003  7004
daemonize yes
pidfile "/var/run/redis_7003.pid"
logfile "/usr/local/redis/redis_7003/redis_7003.log"
dir "/usr/local/redis/redis_7003"
masterauth chuanzhangredis
requirepass chuanzhangredis
appendonly yes
cluster-enabled yes
cluster-config-file nodes_7003.conf
cluster-node-timeout 15000cp

cd /usr/local/redis/
mkdir /usr/local/redis/redis_7003
mkdir /usr/local/redis/redis_7004
./redis-server /usr/local/redis/cluster/redis-7003.conf
./redis-server /usr/local/redis/cluster/redis-7004.conf





3.Redis节点 node3
port 7005  7006
daemonize yes
pidfile "/var/run/redis_7005.pid"
logfile "/usr/local/redis/redis_7005/redis_7005.log"
dir "/usr/local/redis/redis_7005"
masterauth chuanzhangredis
requirepass chuanzhangredis
appendonly yes
cluster-enabled yes
cluster-config-file nodes_7005.conf
cluster-node-timeout 15000cp


mkdir /usr/local/redis/redis_7005
mkdir /usr/local/redis/redis_7006
cd /usr/local/redis/
./redis-server /usr/local/redis/cluster/redis-7005.conf
./redis-server /usr/local/redis/cluster/redis-7006.conf
--------------------------------------------------------------------------------------------------------------------
创建集群
cp /usr/local/redis/redis-6.2.7/src/redis-trib.rb /usr/bin/
./redis-cli -a chuanzhangredis --cluster create 172.31.29.98:7001 172.31.29.98:7002 172.31.16.39:7003 172.31.16.39:7004 172.31.18.127:7005 172.31.18.127:7006 --cluster-replicas 1
./redis-cli -c -h 127.0.0.1 -p 7001 -u chuanzhangredis               # -c，使用集群方式登录
./redis-cli -c -h 127.0.0.1 -p 7003 -u chuanzhangredis 
./redis-cli -c -h 127.0.0.1 -p 7004 -u chuanzhangredis
./redis-cli -c -h 127.0.0.1 -p 7005 -a chuanzhangredis
./redis-cli -c -h 127.0.0.1 -p 7006 -a chuanzhangredis


telnet  172.31.29.98 17001
telnet  172.31.29.98 17002
telnet  172.31.16.39 17003
telnet  172.31.16.39 17004
telnet  172.31.18.127 17005
telnet  172.31.18.127 17006
查看集群信息
CLUSTER INFO
列出节点信息
CLUSTER NODES


2fd8d391fca24dab7169ee8c249141139b4f54ca 54.169.76.123:7004@17004 master - 0 1665068848918 7 connected 0-5460
00ea3d45fd9e117c124f30ac002ff44261a6d55f 54.179.184.125:7001@17001 myself,slave 2fd8d391fca24dab7169ee8c249141139b4f54ca 0 1665068843000 7 connected
a38dfea0e16f838817e7ca320729d2a7b9a5dc1f 54.169.76.123:7003@17003 master - 0 1665068846913 3 connected 5461-10922
98dd7f31897a8357ec045e3dabd96276fd950b22 54.255.85.152:7006@17006 slave a38dfea0e16f838817e7ca320729d2a7b9a5dc1f 0 1665068847916 3 connected
a813ec9dbf0fd4974412e566a3b3e1c39de71906 54.179.184.125:7002@17002 master - 0 1665068846000 8 connected 10923-16383
1172425d8636292fadaa0c2bbdc0bf37fbf9fa63 54.255.85.152:7005@17005 slave a813ec9dbf0fd4974412e566a3b3e1c39de71906 0 1665068849371 8 connected









