<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financia.common.mapper.PPrivacyPolicyMapper">
    
    <resultMap type="com.financia.common.PPrivacyPolicy" id="PPrivacyPolicyResult">
        <result property="id"    column="id"    />
        <result property="privacyUrl"    column="privacy_url"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPPrivacyPolicyVo">
        select id, privacy_url, create_time, update_time from p_privacy_policy
    </sql>

    <select id="selectPPrivacyPolicyList" parameterType="com.financia.common.PPrivacyPolicy" resultMap="PPrivacyPolicyResult">
        <include refid="selectPPrivacyPolicyVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectPPrivacyPolicyById" parameterType="Long" resultMap="PPrivacyPolicyResult">
        <include refid="selectPPrivacyPolicyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPPrivacyPolicy" parameterType="com.financia.common.PPrivacyPolicy" useGeneratedKeys="true" keyProperty="id">
        insert into p_privacy_policy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="privacyUrl != null and privacyUrl != ''">privacy_url,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="privacyUrl != null and privacyUrl != ''">#{privacyUrl},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePPrivacyPolicy" parameterType="com.financia.common.PPrivacyPolicy">
        update p_privacy_policy
        <trim prefix="SET" suffixOverrides=",">
            <if test="privacyUrl != null and privacyUrl != ''">privacy_url = #{privacyUrl},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePPrivacyPolicyById" parameterType="Long">
        delete from p_privacy_policy where id = #{id}
    </delete>

    <delete id="deletePPrivacyPolicyByIds" parameterType="String">
        delete from p_privacy_policy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>